<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Orçamento</title>
</head>

<body style="margin: 0 auto; width: 1240px; background-color: #fff">
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@700;800&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

    * {
      margin: 0;
      padding: 0;
      font-family: "Open Sans", sans-serif;
    }
  </style>

  <div style="width: 1240px; height: 1550px">

    <div style="padding-top: 700px; text-align: center;font-size:20px">
      <p style="font-weight: bold; "> GENÉTICO S.A. </p>
      <p> Demonstrações Contábeis dos exercícios findos</p>
      <p> em 31 de dezembro de 2022 e de 2021 </p>
      <br>
      <p> Acompanhadas do Relatório dos Auditores Independentes </p>
      <br>
      <p>Fevereiro de 2023</p>
    </div>
  </div>
  {{!-- Proxima pagina --}}
  <div style=" max-width: 1240px; height: 1550px; display: flex; flex-direction: column; font-size: 20px;">
    <div style="padding:250px 13% 10px 13%">
      <p style="text-align:justify">Examinamos as Demonstrações Contábeis da <span style="font-weight: bold;"> GENÉTICO S.A. </span>, que compreendem o balanço
        patrimonial em 31 de dezembro de 2022 e as respectivas demonstrações do resultado, demonstrações do resultado
        abrangente, das mutações do patrimônio líquido e dos fluxos de caixa para o exercício findo nessa data, bem como
        as correspondentes notas explicativas, incluindo o resumo das principais políticas contábeis.

      </p>
    </div>
  </div>

  {{!-- Proxima pagina --}}
  <div style=" max-width: 1240px; height: 1550px; display: flex; flex-direction: column; font-size: 20px;">
    <div style="padding:250px 13% 50px 13%">
      <p style="font-weight: bold; text-align:center">RELATÓRIO DA ADMINISTRAÇÃO</p>
    </div>
    <div style="padding:10px 13% 10px 13%">
      <p style="text-align:justify">&emsp;&emsp;Senhores Acionistas, cumprindo disposições legais e estatutárias,
        submetemos a V.
        Sas., as Demonstrações Financeiras da Companhia, acompanhadas das respectivas Notas Explicativas e Relatório dos
        Auditores Independentes, relativas ao exercício social findo em 31 de dezembro de 2022, as quais foram
        elaboradas em consonância com as normas aplicáveis.
      </p>
    </div>
    <div style="padding:10px 13% 10px 13%">
      <p style="text-align:justify">No correspondente exercício, a companhia obteve uma receita líquida de R$
        (INFORMAÇÃO
        DA CONTA 3001) milhões e lucro líquido de R$ (INFORMAÇÃO DA CONTA 3000) milhões. O resultado operacional (Ebit)
        e a geração de caixa, medida pelo Ebitda, foram de R$ (LINHA 20 DA MEMÓRIA DE CÁLCULO) milhões e R$ (LINHA 20 DA
        MEMÓRIA DE CÁLCULO + CONTAS 3173/3174 3257/3381) milhões, respectivamente o que representa (COLOQUEI O CÁLCULO
        NA MÉMORIA DE CÁLCULO G20)% e (RESULTADO DA LINHA PINTADA EM VERDE DIVIDIDO PELA LINHA 3001 X 100)% em relação à
        receita líquida.
      </p>
    </div>
    <div style="padding:10px 13% 10px 13%">
      <p style="text-align:justify">Quanto ao CPV, o mesmo teve um incremento de {{valor1}} p.p.
        (realizado menos orçado) em relação ao orçado, passando de {{valor2}}% para {{valor3}}%, decorrente,
        principalmente, do aumento dos preços dos grãos, contribuindo de forma
        significativa na redução do resultado e geração de caixa frente ao orçado.
      </p>
    </div>
    <div style="padding:10px 13% 10px 13%">
      <p style="text-align:justify">O ano de 2021, assim como o de 2020, foi marcado por uma crise sanitária e econômica
        sem precedentes na história recente. A pandemia do novo coronavírus, que atingiu a humanidade de forma extrema,
        trouxe impactos significativos para as empresas e a sociedade como um todo ao redor do mundo. Medidas de
        isolamento social jamais vistas foram adotadas globalmente como alternativa para conter o avanço do vírus, com a
        paralização, inclusive, de atividades econômicas. Diante deste cenário, nos adaptamos rapidamente e
        implementamos todas as medidas recomendados pelos protocolos dos órgãos governamentais de saúde, priorizando a
        saúde e a integridade dos funcionários bem como a continuidade do negócio. Em nenhum momento tivemos que
        paralisar alguma atividade, fruto do trabalho e engajamento de todos.
      </p>
    </div>
    <div style="padding:10px 13% 10px 13%">
      <p style="text-align:justify">Por fim, queremos reafirmar nossa convicção nas estratégias adotadas, tendo como
        base
        um planejamento integrado de toda a cadeia e de que nossos princípios e valores são inegociáveis.
      </p>
    </div>
    <div style="padding:10px 13% 10px 13%">
      <p style="text-align:justify">Para 2023, o cenário se mostra bastante desafiador, mas continuaremos a perseguir
        nossa missão de “produzir matrizes com excelência, assegurando lucro e atendendo às expectativas de acionistas,
        clientes e funcionários”.
      </p>
    </div>
    <div style="padding:50px 13% 10px 13%">
      <p style="text-align:center">Montenegro, RS, 23 de fevereiro de 2023. </p>
    </div>
    <div style="padding:10px 13%">
      <p style="text-align:center">A Administração </p>
    </div>
  </div>

  {{!-- Proxima pagina --}}
  <div style=" max-width: 1240px; height: 1550px; display: flex; flex-direction: column; font-size: 20px;">
    <div style="padding:250px 13% 10px 13%; font-size:24px">
      <p style="font-weight: bold; text-align:center">Agrogen Desenvolvimento Genético S.A.</p>
    </div>
    <div style="padding:10px 13% 10px 13%">
      <p style="font-weight: bold; text-align:center">Demonstração do Resultado Abrangente</p>
      <p style="text-align:center">Exercícios findos em 31 de dezembro de 2022 e 31 de dezembro de 2021</p>
      <p style="text-align:center; font-size:18px">(Em milhares de reais, exceto o lucro líquido por ação)</p>
    </div>
    <div style="padding:10px 11%">
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: left; width: 50%;"> </th>
          <th style="text-align: center; width: 17%;font-weight: bold;border-bottom: 1px solid black; ">Nota</th>
          <th style="text-align: center; width: 33%;font-weight: bold;border-bottom: 1px solid black; ">2022</th>
        </tr>
      </table>
    </div>
    <div style="padding:10px 11%">
      <p style="text-align:left;"></p>
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: left; width: 50%;">&emsp;Receita líquida de vendas </th>
          <th style="text-align: center; width: 17%;font-weight:400 ">20</th>
          <th style="text-align: center; width: 33%; font-weight:400 "></th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 50%;">&emsp;Custo dos produtos vendidos</th>
          <th style="text-align: center; width: 17%; ">21</th>
          <th style="text-align: center; width: 33%;border-bottom: 1px solid black; "></th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 50%;font-weight:400">Lucro bruto</th>
          <th style="text-align: center; width: 17%; font-weight:400"> </th>
          <th style="text-align: center; width: 33%; "></th>
        </tr>
      </table>
    </div>
    <div style="padding:10px 11%">
      <p style="text-align:left;">Receitas (despesas) operacionais</p>
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: left; width: 50%;font-weight:400;">&emsp;Despesas com vendas</th>
          <th style="text-align: center; width: 17%;font-weight:400 ">21</th>
          <th style="text-align: center; width: 33%;font-weight: bold "></th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 50%;font-weight:400">&emsp;Despesas gerais administrativas</th>
          <th style="text-align: center; width: 17%;font-weight:400 ">21</th>
          <th style="text-align: center; width: 33%; "></th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 50%;font-weight:400">&emsp;Honorários da diretoria</th>
          <th style="text-align: center; width: 17%; "> </th>
          <th style="text-align: center; width: 33%; "></th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 50%;font-weight:400">&emsp;Outras receitas (despesas) operacionais</th>
          <th style="text-align: center; width: 17%; "> </th>
          <th style="text-align: center; width: 33%;border-bottom: 1px solid black; font-weight:400"></th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 50%;font-weight:400">Resultado operacional antes do resultado financeiro
          </th>
          <th style="text-align: center; width: 17%; "> </th>
          <th style="text-align: center; width: 33%; font-weight:400"></th>
        </tr>
      </table>
    </div>
    <div style="padding:10px 11%">
      <p style="text-align:left;">Resultado financeiro</p>
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: left; width: 50%;font-weight:400">&emsp;Despesas financeiras</th>
          <th style="text-align: center; width: 17%;font-weight:400">22</th>
          <th style="text-align: center; width: 33%; "></th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 50%;font-weight:400">&emsp;Receitas financeiras</th>
          <th style="text-align: center; width: 17%; font-weight:400">22</th>
          <th style="text-align: center; width: 33%;border-bottom: 1px solid black;font-weight:400  "></th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 50%;font-weight:400"></th>
          <th style="text-align: center; width: 17%; font-weight:400"> </th>
          <th style="text-align: center; width: 33%;border-bottom: 1px solid black;font-weight:400 "></th>
        </tr>
      </table>
    </div>
    <div style="padding:10px 11%">
      <p style="text-align:left; margin: 0 0 10px 0">Lucro antes dos impostos</p>
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: left; width: 50%;font-weight:400">Imposto de renda e contribuição social</th>
          <th style="text-align: center; width: 17%;font-weight:400 ">10.d</th>
          <th style="text-align: center; width: 33%;font-weight: bold;border-bottom: 1px solid black; ">{{valor4}}</th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 50%;;font-weight: bold;">Lucro líquido do exercício</th>
          <th style="text-align: center; width: 17%;font-weight: bold; "></th>
          <th style="text-align: center; width: 33%;font-weight: bold;border-bottom: 1px solid black; ">{{valor5}}</th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 50%;"></th>
          <th style="text-align: center; width: 17%;font-weight: bold; "> </th>
          <th style="text-align: center; width: 33%;font-weight: bold;border-bottom: 1px solid black; "></th>
        </tr>
      </table>
    </div>
    <div style="padding:10px 11%">
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: left; width: 50%;font-weight:400">Lucro líquido por ação</th>
          <th style="text-align: center; width: 17%;font-weight: bold; "> </th>
          <th style="text-align: center; width: 33%;font-weight: bold; ">{{valor6}}</th>
        </tr>
      </table>
    </div>
  </div>


  {{!-- Proxima pagina --}}
  <div style=" max-width: 1240px; height: 1550px; display: flex; flex-direction: column; font-size: 20px;">
    <div style="padding:250px 13% 10px 13%">
      <p style="font-weight: bold; text-align:center">Demonstração do Resultado Abrangente</p>
      <p style="text-align:center">Exercícios findos em 31 de dezembro de 2022 e 31 de dezembro de 2021</p>
      <p style="text-align:center; font-size:18px">(Em milhares de reais, exceto o lucro líquido por ação)</p>
    </div>
    <div style="padding:10px 11%">
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: left; width: 33%;"> Lucro Líquido do exercício </th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%;font-weight: bold;">{{conta3000}}</th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 33%;">Outros resultados abrangente</th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: center; width: 33%; font-weight: bold;  border-bottom: 1px solid black; "> - </th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 33%; font-weight: bold; ">Total dos resultados abrangentes do exercício
          </th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: center; width: 33%; font-weight: bold;  border-bottom: 1px solid black; ">
            {{conta3000}} </th>
        </tr>
      </table>
    </div>
    <div style="padding:10px 13% 10px 13%">
      <p style="text-align:center">As notas explicativas são parte integrante das demonstrações contábeis</p>
    </div>
    <div style="padding:100px 13% 10px 13%">

      <table style="border-collapse: collapse; width: 100%;">

        <tr style="">
          <th style="text-align: left; width: 33%;  border-bottom: 1px solid black;"> </th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: center; width: 33%; border-bottom: 1px solid black; "> </th>
        </tr>

      </table>

    </div>
  </div>

  {{!-- Proxima pagina --}}
  <div style=" max-width: 1240px; height: 1550px; display: flex; flex-direction: column; font-size: 18px;">

    <div style="padding:200px 13% 20px 13%">
      <p style="font-weight: bold; text-align:left"> Receita líquida de vendas </p>
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%; border-bottom: 1px solid black;">31/12/2022</th>
        </tr>
        {{{tabela1}}}
      </table>
    </div>

    <div style="padding:10px 10%">
      <p style="font-weight: bold;"> 1. Despesas operacionais </p>
    </div>

    <div style="padding: 0px 13% 0px 11%">
      <p style="">
        &emsp; A Companhia optou por apresentar a demonstração do resultado consolidado por função. Conforme requerido
        pelo
        CPC, apresenta, a seguir, o detalhamento da demonstração do resultado por natureza:
      </p>
    </div>

    <div style="padding:10px 11%">
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: left; width: 33%;font-weight: bold;"> </th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%; border-bottom: 1px solid black;">31/12/2022</th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 33%;font-weight: bold;">Despesas por função </th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%;"></th>
        </tr>
        {{{tabela2}}}
        <tr style="">
          <th style="text-align: left; width: 33%;font-weight: bold;">Despesas por natureza</th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%;"></th>
        </tr>
        {{{tabela3}}}
      </table>
    </div>
    <div style="padding:0px 10% 10px 10%">
      <p style="font-weight: bold;"> 2. Resultado financeiro líquido </p>
    </div>
    <div style="padding:10px 11%">
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: left; width: 33%;font-weight: bold;"> </th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%; border-bottom: 1px solid black;">31/12/2022</th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 33%;font-weight: bold;">Receitas financeiras:</th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%;"></th>
        </tr>
        {{{tabela4}}}
        <tr style="">
          <th style="text-align: left; width: 33%;font-weight: bold;">Despesas financeiras:</th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%;"></th>
        </tr>
        {{{tabela5}}}
      </table>
    </div>
  </div>



</body>

</html>

<style>
  body {
    font-family: sans-serif;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1rem;
  }

  ul {
    margin-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid white;
  }

  .valor {
    text-align: right;
  }
</style>