<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Orçamento</title>
</head>

<body style="margin: 0 auto; width: 1240px; background-color: #fff">
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@700;800&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

    * {
      margin: 0;
      padding: 0;
      font-family: "Open Sans", sans-serif;
    }
  </style>

  <div style="width: 1240px; height: 1550px">

    <div style="padding-top: 700px; text-align: center;font-size:20px">
      <p style="font-weight: bold; "> GENÉTICO S.A. </p>
      <p> Demonstrações Contábeis dos exercícios findos</p>
      <p> em 31 de dezembro de 2022 e de 2021 </p>
      <br>
      <p> Acompanhadas do Relatório dos Auditores Independentes </p>
      <br>
      <p>Fevereiro de 2023</p>
    </div>

  </div>

  {{!-- Proxima pagina --}}
  <div style=" max-width: 1240px; height: 1550px; display: flex; flex-direction: column; font-size: 20px;">
    <div style="padding:250px 13% 0px 13%">
    </div>

    <div style="margin-top: auto">
    </div>
  </div>

  {{!-- Proxima pagina --}}
  <div style=" max-width: 1240px; height: 1550px; display: flex; flex-direction: column; font-size: 18px;">

    <div style="padding:200px 13% 20px 13%">
      <p style="font-weight: bold; text-align:left"> Receita líquida de vendas </p>
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%; border-bottom: 1px solid black;">31/12/2022</th>
        </tr>
        {{{tabela1}}}
      </table>
    </div>

    <div style="padding:10px 10%">
      <p style="font-weight: bold;"> 1. Despesas operacionais </p>
    </div>

    <div style="padding: 0px 13% 0px 11%">
      <p style="">
       &emsp; A Companhia optou por apresentar a demonstração do resultado consolidado por função. Conforme requerido pelo
        CPC, apresenta, a seguir, o detalhamento da demonstração do resultado por natureza:
      </p>
    </div>

    <div style="padding:10px 11%">
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: left; width: 33%;font-weight: bold;"> </th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%; border-bottom: 1px solid black;">31/12/2022</th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 33%;font-weight: bold;">Despesas por função </th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%;"></th>
        </tr>
        {{{tabela2}}}
        <tr style="">
          <th style="text-align: left; width: 33%;font-weight: bold;">Despesas por natureza</th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%;"></th>
        </tr>
        {{{tabela3}}}
      </table>
    </div>
    <div style="padding:0px 10% 10px 10%">
      <p style="font-weight: bold;"> 2. Resultado financeiro líquido </p>
    </div>
    <div style="padding:10px 11%">
      <table style="border-collapse: collapse; width: 100%;">
        <tr style="">
          <th style="text-align: left; width: 33%;font-weight: bold;"> </th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%; border-bottom: 1px solid black;">31/12/2022</th>
        </tr>
        <tr style="">
          <th style="text-align: left; width: 33%;font-weight: bold;">Receitas financeiras:</th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%;"></th>
        </tr>
        {{{tabela4}}}
        <tr style="">
          <th style="text-align: left; width: 33%;font-weight: bold;">Despesas financeiras:</th>
          <th style="text-align: center; width: 33%;"></th>
          <th style="text-align: right; width: 33%;"></th>
        </tr>
        {{{tabela5}}}
      </table>
    </div>
  </div>



</body>

</html>

<style>
  body {
    font-family: sans-serif;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1rem;
  }

  ul {
    margin-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid white;
  }

  .valor {
    text-align: right;
  }
</style>